.App-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #dcd6f7;
  color: #424874;
}

/* Form color #CACFD6 */

/* Optional color scheme Bittersweet: #FE7773
Cosmos: #FFD8D8
Nile Blue: #194049
Seagull: #87CEEB */
